//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------


.btn
    display: inline-block
    font-weight: $btn-font-weight
    text-align: center
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    background-image: none
    border: 0.1rem solid transparent
    // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap
    @include button-size($spacing-md, $spacing-lg, $font-size-base, $line-height-base, $btn-border-radius-base)
    user-select: none
    color: $gray
    background-color: $gray-lightest
    text-decoration: none

    &,
    &:active,
    &.active
        &:focus,
        &.focus
            @include tab-focus

    &:hover,
    &.hover
        color: $gray-dark
        background-color: rgba(0, 0, 0, 0.08)
        text-decoration: none

    i
        margin-right: $spacing-lg

    &.icon-right
        i
            margin-right: 0
            margin-left: $spacing-lg

a.btn
    &.disabled,
    fieldset[disabled] &
        pointer-events: none

// Filled Colored buttons
// --------------------------------------------------
.btn-red
    @include filled-button($red, $white, darken($red, 10%))

.btn-blue
    @include filled-button($blue, $white, darken($blue, 8%))

.btn-green
    @include filled-button($green, $white, darken($green, 5%))

.btn-orange
    @include filled-button($orange, $white, darken($orange, 10%))

.btn-white
    @include filled-button($white, $gray-dark, $gray-light)

//// Colored buttons
//// --------------------------------------------------

.btn-red
    &.btn-bare
        @include flat-button($red)

.btn-blue
    &.btn-bare
        @include flat-button($blue)

.btn-green
    &.btn-bare
        @include flat-button($green)

.btn-orange
    &.btn-bare
        @include flat-button($orange)

.btn-white
    &.btn-bare
        @include flat-button($gray)

//// Button Sizes
//// --------------------------------------------------
//
//.btn-lg
//    // line-height: ensure even-numbered height of button next to large input
//    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large)
//
//.btn-sm
//    // line-height: ensure proper height of button next to small input
//    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small)
//
//.btn-xs
//    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small)
//

.btn-icon
    i
        margin-right: 0


.btn-fw
    min-width: 12rem


// Block button
// --------------------------------------------------

.btn-block
    display: block
    width: 100%
    margin: 0

// Vertically space out multiple block buttons
.btn-block + .btn-block
    margin: $spacing-sm 0 0 0

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"]
    &.btn-block
        width: 100%

/*
 ## Buttons

 <h3>Button Tags</h3>

 Use the button classes on an `<a>`, `<button>`, or `<input>` element.
 ```
    <a class="btn" href="#" role="button">Link</a>
    <button class="btn" type="submit">Button</button>
    <input class="btn" type="button" value="Input">
    <input class="btn" type="submit" value="Submit">
 ```


 <h3>Primary Button</h3>

 Use any of the available button classes to quickly create a styled button.
 ```
    <button class="btn btn-white">.btn-white</button>
    <button class="btn btn-blue">.btn-blue</button>
    <button class="btn btn-green">.btn-green</button>
    <button class="btn btn-orange">.btn-orange</button>
    <button class="btn btn-red">.btn-red</button>
 ```

 <h3>Bare Button</h3>

 Add the class `.btn-bare` to create a styled button without borders.
 ```
    <button class="btn btn-white btn-bare">.btn-white</button>
    <button class="btn btn-blue btn-bare">.btn-blue</button>
    <button class="btn btn-green btn-bare">.btn-green</button>
    <button class="btn btn-orange btn-bare">.btn-orange</button>
    <button class="btn btn-red btn-bare">.btn-red</button>
 ```

 <h3>Button with Icon</h3>

 Add any icon in front of your text and the button will automatically space it out for you. If you
 want to add an icon after your text add the class `.icon-right`.
 ```
    <button class="btn btn-blue"><i class="fa fa-save"></i>Save</button>
    <button class="btn btn-red"><i class="fa fa-trash-o"></i>Remove</button>
    <button class="btn btn-green icon-right">Submit<i class="fa fa-check"></i></button>
    <button class="btn btn-orange icon-right">Download<i class="fa fa-download"></i></button>
 ```

 <h3>Icon Button</h3>

 Use a button with just an icon by itself without text, just add the class `.btn-icon` to remove the margin on
 the right of the icon.
 ```
    <button class="btn btn-blue btn-icon"><i class="fa fa-save"></i></button>
    <button class="btn btn-red btn-icon"><i class="fa fa-trash-o"></i></button>
    <button class="btn btn-green btn-bare btn-icon"><i class="fa fa-check"></i></button>
    <button class="btn btn-orange btn-bare btn-icon"><i class="fa fa-download"></i></button>
 ```


 <h3>Disabled Button</h3>

 Make `buttons` look unclickable by adding the `disabled` attribute and anchor `<a>` by
 adding the `.disabled` class.
 ```
    <button class="btn btn-blue" disabled>Disabled button</button>
    <button class="btn btn-green btn-bare" disabled>Disabled bare button</button>
    <a href="#" class="btn btn-red disabled">Disabled anchor</a>
    <a href="#" class="btn btn-orange btn-bare disabled">Disabled bare anchor</a>
 ```

 <h3>Block Button</h3>

 Create block level buttons—those that span the full width of a parent— by adding `.btn-block`.
 ```
    <button class="btn btn-white btn-block">.btn-white .btn-block</button>
    <button class="btn btn-blue btn-block">.btn-blue .btn-block</button>
 ```

 <h3>Fixed Width Button</h3>

 Create a fixed with button witht he class `.btn-fw`, this will set the button's minimun width.
 ```
    <button class="btn btn-green btn-fw">Go</button>
    <button class="btn btn-blue btn-fw">Yes</button>
 ```

 */
