html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
 # Visual Developer
 */
* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.428571429;
  color: #414141;
  background-color: #F5F5F5; }

p,
li,
td,
input,
button,
label,
select,
textarea {
  font-size: 1.4rem;
  font-family: inherit;
  line-height: inherit; }

a {
  color: #3693F8;
  text-decoration: none; }
  a:hover, a:focus {
    color: #086cda;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Quattricento';
  src: url("../fonts/Quattrocento-Bold.eot") format("ttf"), url("../fonts/Quattrocento-Bold.ttf") format("ttf"), url("../fonts/Quattrocento-Bold.woff") format("woff"); }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  @media (min-width: 76.8rem) {
    .container {
      width: 75rem; } }
  @media (min-width: 99.2rem) {
    .container {
      width: 97rem; } }
  @media (min-width: 120rem) {
    .container {
      width: 117rem; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  min-height: 0.01rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.col-xs {
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 76.8rem) {
  .col-sm {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 99.2rem) {
  .col-md {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 120rem) {
  .col-lg {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

/*
 ## Flex Grid

 <h4>Responsive Grid</h4>
 <p>Responsive modifiers enable specifying different column sizes, offsets, alignment and distribution at `col-xs-*`, `col-sm-*`, `col-md-*` & `col-lg-*` viewport widths.</p>

 ```
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-4"><p>Content</p></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-8"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6"><p>Content</p></div>
            <div class="col-xs-12 col-sm-12 col-md-6"><p>Content</p></div>
        </div>
    </div>
 ```

 <h4>Fluid Grid</h4>
 <p>Responsive modifiers enable specifying different column sizes, offsets, alignment and distribution at `col-xs-*`, `col-sm-*`, `col-md-*` & `col-lg-*` viewport widths.</p>

 ```
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-11"><p>Content</p></div>
            <div class="col-xs-1"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-10"><p>Content</p></div>
            <div class="col-xs-2"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-9"><p>Content</p></div>
            <div class="col-xs-3"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-8"><p>Content</p></div>
            <div class="col-xs-4"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-7"><p>Content</p></div>
            <div class="col-xs-5"><p>Content</p></div>
        </div>
        <div class="row">
            <div class="col-xs-6"><p>Content</p></div>
            <div class="col-xs-6"><p>Content</p></div>
        </div>
    </div>
 ```


 */
.btn {
  display: inline-block;
  margin: .6rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  line-height: 1.428571429;
  border-radius: 0.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn + .btn {
    margin-left: 0; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn--red-dark {
  color: #841225;
  background-color: transparent;
  border-color: transparent; }
  .btn--red-dark:focus, .btn--red-dark.focus {
    color: #841225;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--red-dark:hover, .btn--red-dark.hover {
    color: #841225;
    background-color: rgba(0, 0, 0, 0.08); }
  .btn--red-dark:active, .btn--red-dark.active {
    color: #841225;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--red-dark.disabled, .btn--red-dark.disabled.active, .btn--red-dark.disabled.hover, .btn--red-dark.disabled.focus, .btn--red-dark.disabled:active, .btn--red-dark.disabled:hover, .btn--red-dark.disabled:focus, .btn--red-dark.disabled.focus, .btn--red-dark[disabled], .btn--red-dark[disabled].active, .btn--red-dark[disabled].hover, .btn--red-dark[disabled].focus, .btn--red-dark[disabled]:active, .btn--red-dark[disabled]:hover, .btn--red-dark[disabled]:focus, .btn--red-dark[disabled].focus,
  fieldset[disabled] .btn--red-dark,
  fieldset[disabled] .btn--red-dark.active,
  fieldset[disabled] .btn--red-dark.hover,
  fieldset[disabled] .btn--red-dark.focus,
  fieldset[disabled] .btn--red-dark:active,
  fieldset[disabled] .btn--red-dark:hover,
  fieldset[disabled] .btn--red-dark:focus,
  fieldset[disabled] .btn--red-dark.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: not-allowed; }

.btn--purple-dark {
  color: #595194;
  background-color: transparent;
  border-color: transparent; }
  .btn--purple-dark:focus, .btn--purple-dark.focus {
    color: #595194;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--purple-dark:hover, .btn--purple-dark.hover {
    color: #595194;
    background-color: rgba(0, 0, 0, 0.08); }
  .btn--purple-dark:active, .btn--purple-dark.active {
    color: #595194;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--purple-dark.disabled, .btn--purple-dark.disabled.active, .btn--purple-dark.disabled.hover, .btn--purple-dark.disabled.focus, .btn--purple-dark.disabled:active, .btn--purple-dark.disabled:hover, .btn--purple-dark.disabled:focus, .btn--purple-dark.disabled.focus, .btn--purple-dark[disabled], .btn--purple-dark[disabled].active, .btn--purple-dark[disabled].hover, .btn--purple-dark[disabled].focus, .btn--purple-dark[disabled]:active, .btn--purple-dark[disabled]:hover, .btn--purple-dark[disabled]:focus, .btn--purple-dark[disabled].focus,
  fieldset[disabled] .btn--purple-dark,
  fieldset[disabled] .btn--purple-dark.active,
  fieldset[disabled] .btn--purple-dark.hover,
  fieldset[disabled] .btn--purple-dark.focus,
  fieldset[disabled] .btn--purple-dark:active,
  fieldset[disabled] .btn--purple-dark:hover,
  fieldset[disabled] .btn--purple-dark:focus,
  fieldset[disabled] .btn--purple-dark.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: not-allowed; }

.btn--blue {
  color: #005CB9;
  background-color: transparent;
  border-color: transparent; }
  .btn--blue:focus, .btn--blue.focus {
    color: #005CB9;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--blue:hover, .btn--blue.hover {
    color: #005CB9;
    background-color: rgba(0, 0, 0, 0.08); }
  .btn--blue:active, .btn--blue.active {
    color: #005CB9;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--blue.disabled, .btn--blue.disabled.active, .btn--blue.disabled.hover, .btn--blue.disabled.focus, .btn--blue.disabled:active, .btn--blue.disabled:hover, .btn--blue.disabled:focus, .btn--blue.disabled.focus, .btn--blue[disabled], .btn--blue[disabled].active, .btn--blue[disabled].hover, .btn--blue[disabled].focus, .btn--blue[disabled]:active, .btn--blue[disabled]:hover, .btn--blue[disabled]:focus, .btn--blue[disabled].focus,
  fieldset[disabled] .btn--blue,
  fieldset[disabled] .btn--blue.active,
  fieldset[disabled] .btn--blue.hover,
  fieldset[disabled] .btn--blue.focus,
  fieldset[disabled] .btn--blue:active,
  fieldset[disabled] .btn--blue:hover,
  fieldset[disabled] .btn--blue:focus,
  fieldset[disabled] .btn--blue.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: not-allowed; }

.btn--green {
  color: #46AD00;
  background-color: transparent;
  border-color: transparent; }
  .btn--green:focus, .btn--green.focus {
    color: #46AD00;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--green:hover, .btn--green.hover {
    color: #46AD00;
    background-color: rgba(0, 0, 0, 0.08); }
  .btn--green:active, .btn--green.active {
    color: #46AD00;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--green.disabled, .btn--green.disabled.active, .btn--green.disabled.hover, .btn--green.disabled.focus, .btn--green.disabled:active, .btn--green.disabled:hover, .btn--green.disabled:focus, .btn--green.disabled.focus, .btn--green[disabled], .btn--green[disabled].active, .btn--green[disabled].hover, .btn--green[disabled].focus, .btn--green[disabled]:active, .btn--green[disabled]:hover, .btn--green[disabled]:focus, .btn--green[disabled].focus,
  fieldset[disabled] .btn--green,
  fieldset[disabled] .btn--green.active,
  fieldset[disabled] .btn--green.hover,
  fieldset[disabled] .btn--green.focus,
  fieldset[disabled] .btn--green:active,
  fieldset[disabled] .btn--green:hover,
  fieldset[disabled] .btn--green:focus,
  fieldset[disabled] .btn--green.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: not-allowed; }

.btn--orange {
  color: #FF9821;
  background-color: transparent;
  border-color: transparent; }
  .btn--orange:focus, .btn--orange.focus {
    color: #FF9821;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--orange:hover, .btn--orange.hover {
    color: #FF9821;
    background-color: rgba(0, 0, 0, 0.08); }
  .btn--orange:active, .btn--orange.active {
    color: #FF9821;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--orange.disabled, .btn--orange.disabled.active, .btn--orange.disabled.hover, .btn--orange.disabled.focus, .btn--orange.disabled:active, .btn--orange.disabled:hover, .btn--orange.disabled:focus, .btn--orange.disabled.focus, .btn--orange[disabled], .btn--orange[disabled].active, .btn--orange[disabled].hover, .btn--orange[disabled].focus, .btn--orange[disabled]:active, .btn--orange[disabled]:hover, .btn--orange[disabled]:focus, .btn--orange[disabled].focus,
  fieldset[disabled] .btn--orange,
  fieldset[disabled] .btn--orange.active,
  fieldset[disabled] .btn--orange.hover,
  fieldset[disabled] .btn--orange.focus,
  fieldset[disabled] .btn--orange:active,
  fieldset[disabled] .btn--orange:hover,
  fieldset[disabled] .btn--orange:focus,
  fieldset[disabled] .btn--orange.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: not-allowed; }

.btn--gray-dark {
  color: #575757;
  background-color: transparent;
  border-color: transparent; }
  .btn--gray-dark:focus, .btn--gray-dark.focus {
    color: #575757;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--gray-dark:hover, .btn--gray-dark.hover {
    color: #575757;
    background-color: rgba(0, 0, 0, 0.08); }
  .btn--gray-dark:active, .btn--gray-dark.active {
    color: #575757;
    background-color: rgba(0, 0, 0, 0.16); }
  .btn--gray-dark.disabled, .btn--gray-dark.disabled.active, .btn--gray-dark.disabled.hover, .btn--gray-dark.disabled.focus, .btn--gray-dark.disabled:active, .btn--gray-dark.disabled:hover, .btn--gray-dark.disabled:focus, .btn--gray-dark.disabled.focus, .btn--gray-dark[disabled], .btn--gray-dark[disabled].active, .btn--gray-dark[disabled].hover, .btn--gray-dark[disabled].focus, .btn--gray-dark[disabled]:active, .btn--gray-dark[disabled]:hover, .btn--gray-dark[disabled]:focus, .btn--gray-dark[disabled].focus,
  fieldset[disabled] .btn--gray-dark,
  fieldset[disabled] .btn--gray-dark.active,
  fieldset[disabled] .btn--gray-dark.hover,
  fieldset[disabled] .btn--gray-dark.focus,
  fieldset[disabled] .btn--gray-dark:active,
  fieldset[disabled] .btn--gray-dark:hover,
  fieldset[disabled] .btn--gray-dark:focus,
  fieldset[disabled] .btn--gray-dark.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: not-allowed; }

.btn--red-dark.raised {
  color: #841225;
  background-color: #ffffff;
  border-color: #ebebeb;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--red-dark.raised:focus, .btn--red-dark.raised.focus {
    color: #841225;
    background-color: #d6d6d6; }
  .btn--red-dark.raised:hover, .btn--red-dark.raised.hover {
    color: #841225;
    background-color: #ebebeb; }
  .btn--red-dark.raised:active, .btn--red-dark.raised.active {
    color: #841225;
    background-color: #d6d6d6; }
  .btn--red-dark.raised.disabled, .btn--red-dark.raised.disabled.active, .btn--red-dark.raised.disabled.hover, .btn--red-dark.raised.disabled.focus, .btn--red-dark.raised.disabled:active, .btn--red-dark.raised.disabled:hover, .btn--red-dark.raised.disabled:focus, .btn--red-dark.raised.disabled.focus, .btn--red-dark.raised[disabled], .btn--red-dark.raised[disabled].active, .btn--red-dark.raised[disabled].hover, .btn--red-dark.raised[disabled].focus, .btn--red-dark.raised[disabled]:active, .btn--red-dark.raised[disabled]:hover, .btn--red-dark.raised[disabled]:focus, .btn--red-dark.raised[disabled].focus,
  fieldset[disabled] .btn--red-dark.raised,
  fieldset[disabled] .btn--red-dark.raised.active,
  fieldset[disabled] .btn--red-dark.raised.hover,
  fieldset[disabled] .btn--red-dark.raised.focus,
  fieldset[disabled] .btn--red-dark.raised:active,
  fieldset[disabled] .btn--red-dark.raised:hover,
  fieldset[disabled] .btn--red-dark.raised:focus,
  fieldset[disabled] .btn--red-dark.raised.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--purple-dark.raised {
  color: #595194;
  background-color: #ffffff;
  border-color: #ebebeb;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--purple-dark.raised:focus, .btn--purple-dark.raised.focus {
    color: #595194;
    background-color: #d6d6d6; }
  .btn--purple-dark.raised:hover, .btn--purple-dark.raised.hover {
    color: #595194;
    background-color: #ebebeb; }
  .btn--purple-dark.raised:active, .btn--purple-dark.raised.active {
    color: #595194;
    background-color: #d6d6d6; }
  .btn--purple-dark.raised.disabled, .btn--purple-dark.raised.disabled.active, .btn--purple-dark.raised.disabled.hover, .btn--purple-dark.raised.disabled.focus, .btn--purple-dark.raised.disabled:active, .btn--purple-dark.raised.disabled:hover, .btn--purple-dark.raised.disabled:focus, .btn--purple-dark.raised.disabled.focus, .btn--purple-dark.raised[disabled], .btn--purple-dark.raised[disabled].active, .btn--purple-dark.raised[disabled].hover, .btn--purple-dark.raised[disabled].focus, .btn--purple-dark.raised[disabled]:active, .btn--purple-dark.raised[disabled]:hover, .btn--purple-dark.raised[disabled]:focus, .btn--purple-dark.raised[disabled].focus,
  fieldset[disabled] .btn--purple-dark.raised,
  fieldset[disabled] .btn--purple-dark.raised.active,
  fieldset[disabled] .btn--purple-dark.raised.hover,
  fieldset[disabled] .btn--purple-dark.raised.focus,
  fieldset[disabled] .btn--purple-dark.raised:active,
  fieldset[disabled] .btn--purple-dark.raised:hover,
  fieldset[disabled] .btn--purple-dark.raised:focus,
  fieldset[disabled] .btn--purple-dark.raised.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--blue.raised {
  color: #005CB9;
  background-color: #ffffff;
  border-color: #ebebeb;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--blue.raised:focus, .btn--blue.raised.focus {
    color: #005CB9;
    background-color: #d6d6d6; }
  .btn--blue.raised:hover, .btn--blue.raised.hover {
    color: #005CB9;
    background-color: #ebebeb; }
  .btn--blue.raised:active, .btn--blue.raised.active {
    color: #005CB9;
    background-color: #d6d6d6; }
  .btn--blue.raised.disabled, .btn--blue.raised.disabled.active, .btn--blue.raised.disabled.hover, .btn--blue.raised.disabled.focus, .btn--blue.raised.disabled:active, .btn--blue.raised.disabled:hover, .btn--blue.raised.disabled:focus, .btn--blue.raised.disabled.focus, .btn--blue.raised[disabled], .btn--blue.raised[disabled].active, .btn--blue.raised[disabled].hover, .btn--blue.raised[disabled].focus, .btn--blue.raised[disabled]:active, .btn--blue.raised[disabled]:hover, .btn--blue.raised[disabled]:focus, .btn--blue.raised[disabled].focus,
  fieldset[disabled] .btn--blue.raised,
  fieldset[disabled] .btn--blue.raised.active,
  fieldset[disabled] .btn--blue.raised.hover,
  fieldset[disabled] .btn--blue.raised.focus,
  fieldset[disabled] .btn--blue.raised:active,
  fieldset[disabled] .btn--blue.raised:hover,
  fieldset[disabled] .btn--blue.raised:focus,
  fieldset[disabled] .btn--blue.raised.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--green.raised {
  color: #46AD00;
  background-color: #ffffff;
  border-color: #ebebeb;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--green.raised:focus, .btn--green.raised.focus {
    color: #46AD00;
    background-color: #d6d6d6; }
  .btn--green.raised:hover, .btn--green.raised.hover {
    color: #46AD00;
    background-color: #ebebeb; }
  .btn--green.raised:active, .btn--green.raised.active {
    color: #46AD00;
    background-color: #d6d6d6; }
  .btn--green.raised.disabled, .btn--green.raised.disabled.active, .btn--green.raised.disabled.hover, .btn--green.raised.disabled.focus, .btn--green.raised.disabled:active, .btn--green.raised.disabled:hover, .btn--green.raised.disabled:focus, .btn--green.raised.disabled.focus, .btn--green.raised[disabled], .btn--green.raised[disabled].active, .btn--green.raised[disabled].hover, .btn--green.raised[disabled].focus, .btn--green.raised[disabled]:active, .btn--green.raised[disabled]:hover, .btn--green.raised[disabled]:focus, .btn--green.raised[disabled].focus,
  fieldset[disabled] .btn--green.raised,
  fieldset[disabled] .btn--green.raised.active,
  fieldset[disabled] .btn--green.raised.hover,
  fieldset[disabled] .btn--green.raised.focus,
  fieldset[disabled] .btn--green.raised:active,
  fieldset[disabled] .btn--green.raised:hover,
  fieldset[disabled] .btn--green.raised:focus,
  fieldset[disabled] .btn--green.raised.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--orange.raised {
  color: #FF9821;
  background-color: #ffffff;
  border-color: #ebebeb;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--orange.raised:focus, .btn--orange.raised.focus {
    color: #FF9821;
    background-color: #d6d6d6; }
  .btn--orange.raised:hover, .btn--orange.raised.hover {
    color: #FF9821;
    background-color: #ebebeb; }
  .btn--orange.raised:active, .btn--orange.raised.active {
    color: #FF9821;
    background-color: #d6d6d6; }
  .btn--orange.raised.disabled, .btn--orange.raised.disabled.active, .btn--orange.raised.disabled.hover, .btn--orange.raised.disabled.focus, .btn--orange.raised.disabled:active, .btn--orange.raised.disabled:hover, .btn--orange.raised.disabled:focus, .btn--orange.raised.disabled.focus, .btn--orange.raised[disabled], .btn--orange.raised[disabled].active, .btn--orange.raised[disabled].hover, .btn--orange.raised[disabled].focus, .btn--orange.raised[disabled]:active, .btn--orange.raised[disabled]:hover, .btn--orange.raised[disabled]:focus, .btn--orange.raised[disabled].focus,
  fieldset[disabled] .btn--orange.raised,
  fieldset[disabled] .btn--orange.raised.active,
  fieldset[disabled] .btn--orange.raised.hover,
  fieldset[disabled] .btn--orange.raised.focus,
  fieldset[disabled] .btn--orange.raised:active,
  fieldset[disabled] .btn--orange.raised:hover,
  fieldset[disabled] .btn--orange.raised:focus,
  fieldset[disabled] .btn--orange.raised.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--gray-dark.raised {
  color: #575757;
  background-color: #ffffff;
  border-color: #ebebeb;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--gray-dark.raised:focus, .btn--gray-dark.raised.focus {
    color: #575757;
    background-color: #d6d6d6; }
  .btn--gray-dark.raised:hover, .btn--gray-dark.raised.hover {
    color: #575757;
    background-color: #ebebeb; }
  .btn--gray-dark.raised:active, .btn--gray-dark.raised.active {
    color: #575757;
    background-color: #d6d6d6; }
  .btn--gray-dark.raised.disabled, .btn--gray-dark.raised.disabled.active, .btn--gray-dark.raised.disabled.hover, .btn--gray-dark.raised.disabled.focus, .btn--gray-dark.raised.disabled:active, .btn--gray-dark.raised.disabled:hover, .btn--gray-dark.raised.disabled:focus, .btn--gray-dark.raised.disabled.focus, .btn--gray-dark.raised[disabled], .btn--gray-dark.raised[disabled].active, .btn--gray-dark.raised[disabled].hover, .btn--gray-dark.raised[disabled].focus, .btn--gray-dark.raised[disabled]:active, .btn--gray-dark.raised[disabled]:hover, .btn--gray-dark.raised[disabled]:focus, .btn--gray-dark.raised[disabled].focus,
  fieldset[disabled] .btn--gray-dark.raised,
  fieldset[disabled] .btn--gray-dark.raised.active,
  fieldset[disabled] .btn--gray-dark.raised.hover,
  fieldset[disabled] .btn--gray-dark.raised.focus,
  fieldset[disabled] .btn--gray-dark.raised:active,
  fieldset[disabled] .btn--gray-dark.raised:hover,
  fieldset[disabled] .btn--gray-dark.raised:focus,
  fieldset[disabled] .btn--gray-dark.raised.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--red-dark.raised-filled {
  color: #ffffff;
  background-color: #841225;
  border-color: #600d1b;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--red-dark.raised-filled:focus, .btn--red-dark.raised-filled.focus {
    color: #ffffff;
    background-color: #3c0811; }
  .btn--red-dark.raised-filled:hover, .btn--red-dark.raised-filled.hover {
    color: #ffffff;
    background-color: #600d1b; }
  .btn--red-dark.raised-filled:active, .btn--red-dark.raised-filled.active {
    color: #ffffff;
    background-color: #3c0811; }
  .btn--red-dark.raised-filled.disabled, .btn--red-dark.raised-filled.disabled.active, .btn--red-dark.raised-filled.disabled.hover, .btn--red-dark.raised-filled.disabled.focus, .btn--red-dark.raised-filled.disabled:active, .btn--red-dark.raised-filled.disabled:hover, .btn--red-dark.raised-filled.disabled:focus, .btn--red-dark.raised-filled.disabled.focus, .btn--red-dark.raised-filled[disabled], .btn--red-dark.raised-filled[disabled].active, .btn--red-dark.raised-filled[disabled].hover, .btn--red-dark.raised-filled[disabled].focus, .btn--red-dark.raised-filled[disabled]:active, .btn--red-dark.raised-filled[disabled]:hover, .btn--red-dark.raised-filled[disabled]:focus, .btn--red-dark.raised-filled[disabled].focus,
  fieldset[disabled] .btn--red-dark.raised-filled,
  fieldset[disabled] .btn--red-dark.raised-filled.active,
  fieldset[disabled] .btn--red-dark.raised-filled.hover,
  fieldset[disabled] .btn--red-dark.raised-filled.focus,
  fieldset[disabled] .btn--red-dark.raised-filled:active,
  fieldset[disabled] .btn--red-dark.raised-filled:hover,
  fieldset[disabled] .btn--red-dark.raised-filled:focus,
  fieldset[disabled] .btn--red-dark.raised-filled.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--purple-dark.raised-filled {
  color: #ffffff;
  background-color: #595194;
  border-color: #49437a;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--purple-dark.raised-filled:focus, .btn--purple-dark.raised-filled.focus {
    color: #ffffff;
    background-color: #39345f; }
  .btn--purple-dark.raised-filled:hover, .btn--purple-dark.raised-filled.hover {
    color: #ffffff;
    background-color: #49437a; }
  .btn--purple-dark.raised-filled:active, .btn--purple-dark.raised-filled.active {
    color: #ffffff;
    background-color: #39345f; }
  .btn--purple-dark.raised-filled.disabled, .btn--purple-dark.raised-filled.disabled.active, .btn--purple-dark.raised-filled.disabled.hover, .btn--purple-dark.raised-filled.disabled.focus, .btn--purple-dark.raised-filled.disabled:active, .btn--purple-dark.raised-filled.disabled:hover, .btn--purple-dark.raised-filled.disabled:focus, .btn--purple-dark.raised-filled.disabled.focus, .btn--purple-dark.raised-filled[disabled], .btn--purple-dark.raised-filled[disabled].active, .btn--purple-dark.raised-filled[disabled].hover, .btn--purple-dark.raised-filled[disabled].focus, .btn--purple-dark.raised-filled[disabled]:active, .btn--purple-dark.raised-filled[disabled]:hover, .btn--purple-dark.raised-filled[disabled]:focus, .btn--purple-dark.raised-filled[disabled].focus,
  fieldset[disabled] .btn--purple-dark.raised-filled,
  fieldset[disabled] .btn--purple-dark.raised-filled.active,
  fieldset[disabled] .btn--purple-dark.raised-filled.hover,
  fieldset[disabled] .btn--purple-dark.raised-filled.focus,
  fieldset[disabled] .btn--purple-dark.raised-filled:active,
  fieldset[disabled] .btn--purple-dark.raised-filled:hover,
  fieldset[disabled] .btn--purple-dark.raised-filled:focus,
  fieldset[disabled] .btn--purple-dark.raised-filled.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--blue.raised-filled {
  color: #ffffff;
  background-color: #005CB9;
  border-color: #004890;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--blue.raised-filled:focus, .btn--blue.raised-filled.focus {
    color: #ffffff;
    background-color: #003367; }
  .btn--blue.raised-filled:hover, .btn--blue.raised-filled.hover {
    color: #ffffff;
    background-color: #004890; }
  .btn--blue.raised-filled:active, .btn--blue.raised-filled.active {
    color: #ffffff;
    background-color: #003367; }
  .btn--blue.raised-filled.disabled, .btn--blue.raised-filled.disabled.active, .btn--blue.raised-filled.disabled.hover, .btn--blue.raised-filled.disabled.focus, .btn--blue.raised-filled.disabled:active, .btn--blue.raised-filled.disabled:hover, .btn--blue.raised-filled.disabled:focus, .btn--blue.raised-filled.disabled.focus, .btn--blue.raised-filled[disabled], .btn--blue.raised-filled[disabled].active, .btn--blue.raised-filled[disabled].hover, .btn--blue.raised-filled[disabled].focus, .btn--blue.raised-filled[disabled]:active, .btn--blue.raised-filled[disabled]:hover, .btn--blue.raised-filled[disabled]:focus, .btn--blue.raised-filled[disabled].focus,
  fieldset[disabled] .btn--blue.raised-filled,
  fieldset[disabled] .btn--blue.raised-filled.active,
  fieldset[disabled] .btn--blue.raised-filled.hover,
  fieldset[disabled] .btn--blue.raised-filled.focus,
  fieldset[disabled] .btn--blue.raised-filled:active,
  fieldset[disabled] .btn--blue.raised-filled:hover,
  fieldset[disabled] .btn--blue.raised-filled:focus,
  fieldset[disabled] .btn--blue.raised-filled.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--green.raised-filled {
  color: #ffffff;
  background-color: #46AD00;
  border-color: #358400;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--green.raised-filled:focus, .btn--green.raised-filled.focus {
    color: #ffffff;
    background-color: #255b00; }
  .btn--green.raised-filled:hover, .btn--green.raised-filled.hover {
    color: #ffffff;
    background-color: #358400; }
  .btn--green.raised-filled:active, .btn--green.raised-filled.active {
    color: #ffffff;
    background-color: #255b00; }
  .btn--green.raised-filled.disabled, .btn--green.raised-filled.disabled.active, .btn--green.raised-filled.disabled.hover, .btn--green.raised-filled.disabled.focus, .btn--green.raised-filled.disabled:active, .btn--green.raised-filled.disabled:hover, .btn--green.raised-filled.disabled:focus, .btn--green.raised-filled.disabled.focus, .btn--green.raised-filled[disabled], .btn--green.raised-filled[disabled].active, .btn--green.raised-filled[disabled].hover, .btn--green.raised-filled[disabled].focus, .btn--green.raised-filled[disabled]:active, .btn--green.raised-filled[disabled]:hover, .btn--green.raised-filled[disabled]:focus, .btn--green.raised-filled[disabled].focus,
  fieldset[disabled] .btn--green.raised-filled,
  fieldset[disabled] .btn--green.raised-filled.active,
  fieldset[disabled] .btn--green.raised-filled.hover,
  fieldset[disabled] .btn--green.raised-filled.focus,
  fieldset[disabled] .btn--green.raised-filled:active,
  fieldset[disabled] .btn--green.raised-filled:hover,
  fieldset[disabled] .btn--green.raised-filled:focus,
  fieldset[disabled] .btn--green.raised-filled.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--orange.raised-filled {
  color: #ffffff;
  background-color: #FF9821;
  border-color: #f78500;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--orange.raised-filled:focus, .btn--orange.raised-filled.focus {
    color: #ffffff;
    background-color: #ce6f00; }
  .btn--orange.raised-filled:hover, .btn--orange.raised-filled.hover {
    color: #ffffff;
    background-color: #f78500; }
  .btn--orange.raised-filled:active, .btn--orange.raised-filled.active {
    color: #ffffff;
    background-color: #ce6f00; }
  .btn--orange.raised-filled.disabled, .btn--orange.raised-filled.disabled.active, .btn--orange.raised-filled.disabled.hover, .btn--orange.raised-filled.disabled.focus, .btn--orange.raised-filled.disabled:active, .btn--orange.raised-filled.disabled:hover, .btn--orange.raised-filled.disabled:focus, .btn--orange.raised-filled.disabled.focus, .btn--orange.raised-filled[disabled], .btn--orange.raised-filled[disabled].active, .btn--orange.raised-filled[disabled].hover, .btn--orange.raised-filled[disabled].focus, .btn--orange.raised-filled[disabled]:active, .btn--orange.raised-filled[disabled]:hover, .btn--orange.raised-filled[disabled]:focus, .btn--orange.raised-filled[disabled].focus,
  fieldset[disabled] .btn--orange.raised-filled,
  fieldset[disabled] .btn--orange.raised-filled.active,
  fieldset[disabled] .btn--orange.raised-filled.hover,
  fieldset[disabled] .btn--orange.raised-filled.focus,
  fieldset[disabled] .btn--orange.raised-filled:active,
  fieldset[disabled] .btn--orange.raised-filled:hover,
  fieldset[disabled] .btn--orange.raised-filled:focus,
  fieldset[disabled] .btn--orange.raised-filled.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--gray-dark.raised-filled {
  color: #ffffff;
  background-color: #575757;
  border-color: #434343;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22); }
  .btn--gray-dark.raised-filled:focus, .btn--gray-dark.raised-filled.focus {
    color: #ffffff;
    background-color: #2e2e2e; }
  .btn--gray-dark.raised-filled:hover, .btn--gray-dark.raised-filled.hover {
    color: #ffffff;
    background-color: #434343; }
  .btn--gray-dark.raised-filled:active, .btn--gray-dark.raised-filled.active {
    color: #ffffff;
    background-color: #2e2e2e; }
  .btn--gray-dark.raised-filled.disabled, .btn--gray-dark.raised-filled.disabled.active, .btn--gray-dark.raised-filled.disabled.hover, .btn--gray-dark.raised-filled.disabled.focus, .btn--gray-dark.raised-filled.disabled:active, .btn--gray-dark.raised-filled.disabled:hover, .btn--gray-dark.raised-filled.disabled:focus, .btn--gray-dark.raised-filled.disabled.focus, .btn--gray-dark.raised-filled[disabled], .btn--gray-dark.raised-filled[disabled].active, .btn--gray-dark.raised-filled[disabled].hover, .btn--gray-dark.raised-filled[disabled].focus, .btn--gray-dark.raised-filled[disabled]:active, .btn--gray-dark.raised-filled[disabled]:hover, .btn--gray-dark.raised-filled[disabled]:focus, .btn--gray-dark.raised-filled[disabled].focus,
  fieldset[disabled] .btn--gray-dark.raised-filled,
  fieldset[disabled] .btn--gray-dark.raised-filled.active,
  fieldset[disabled] .btn--gray-dark.raised-filled.hover,
  fieldset[disabled] .btn--gray-dark.raised-filled.focus,
  fieldset[disabled] .btn--gray-dark.raised-filled:active,
  fieldset[disabled] .btn--gray-dark.raised-filled:hover,
  fieldset[disabled] .btn--gray-dark.raised-filled:focus,
  fieldset[disabled] .btn--gray-dark.raised-filled.focus {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
    box-shadow: none;
    border-color: transparent; }

.btn--link {
  color: #3693F8;
  font-weight: normal;
  border-radius: 0; }
  .btn--link, .btn--link:active, .btn--link.active, .btn--link.disabled, .btn--link[disabled],
  fieldset[disabled] .btn--link {
    background-color: transparent;
    box-shadow: none; }
  .btn--link, .btn--link:hover, .btn--link:focus, .btn--link:active {
    border-color: transparent; }
  .btn--link:hover, .btn--link:focus {
    color: #086cda;
    text-decoration: underline;
    background-color: transparent; }
  .btn--link.disabled, .btn--link.disabled:active, .btn--link.disabled:hover, .btn--link.disabled:focus, .btn--link[disabled], .btn--link[disabled]:active, .btn--link[disabled]:hover, .btn--link[disabled]:focus,
  fieldset[disabled] .btn--link,
  fieldset[disabled] .btn--link:active,
  fieldset[disabled] .btn--link:hover,
  fieldset[disabled] .btn--link:focus {
    color: #BCBCBC;
    text-decoration: none; }

.btn--lg {
  padding: 1rem 1.6rem;
  font-size: 2rem;
  line-height: 1.3333333;
  border-radius: 0.4rem; }

.btn--sm {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.1rem; }

.btn--xs {
  padding: 0.1rem 0.5rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.1rem; }

.btn--block {
  display: block;
  width: 100%;
  margin: 0; }

.btn--block + .btn--block {
  margin-top: 5px; }

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%; }

/*
 ## Buttons

 <h4>Button Tags</h4>
 ```
    <a class="btn btn--gray-dark" href="#" role="button">Link</a>
    <button class="btn btn--gray-dark" type="submit">Button</button>
    <input class="btn btn--gray-dark" type="button" value="Input">
    <input class="btn btn--gray-dark" type="submit" value="Submit">
 ```


 <h4>Flat Buttons (Primary)</h4>
 ```
    <button class="btn btn--gray-dark">Gray Dark</button>
    <button class="btn btn--blue">Blue</button>
    <button class="btn btn--green">Green</button>
    <button class="btn btn--purple-dark">Purple Dark</button>
    <button class="btn btn--orange">Orange</button>
    <button class="btn btn--red-dark">Red Dark</button>
 ```

 <h4>Raised Buttons (Primary)</h4>
 ```
    <button class="btn btn--gray-dark raised">Gray Dark</button>
    <button class="btn btn--blue raised">Blue</button>
    <button class="btn btn--green raised">Green</button>
    <button class="btn btn--purple-dark raised">Purple Dark</button>
    <button class="btn btn--orange raised">Orange</button>
    <button class="btn btn--red-dark raised">Red Dark</button>
 ```
 <h4>Raised Filled Buttons (Primary)</h4>
 ```
    <button class="btn btn--gray-dark raised-filled">Gray Dark</button>
    <button class="btn btn--blue raised-filled">Blue</button>
    <button class="btn btn--green raised-filled">Green</button>
    <button class="btn btn--purple-dark raised-filled">Purple Dark</button>
    <button class="btn btn--orange raised-filled">Orange</button>
    <button class="btn btn--red-dark raised-filled">Red Dark</button>
 ```

 <h4>Buttons (Disabled)</h4>
 ```
    <button class="btn btn--gray-dark disabled">Gray Dark</button>
    <button class="btn btn--blue disabled">Blue</button>
    <button class="btn btn--green raised disabled">Green</button>
    <button class="btn btn--purple-dark raised disabled">Purple Dark</button>
    <button class="btn btn--orange raised-filled disabled">Orange</button>
    <button class="btn btn--red-dark raised-filled disabled">Red Dark</button>
 ```

 <h4>Block Buttons</h4>
 ```
    <button class="btn btn--purple-dark btn--block">Purple Dark</button>
    <button class="btn btn--gray-dark raised btn--block">Gray Dark</button>
    <button class="btn btn--blue raised-filled btn--block">Blue</button>
 ```



 */
/*
 ## Typography

 <h4>Heading Tags</h4>
 ```
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
        <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
 ```
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quattricento", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #BCBCBC; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 2rem;
  margin-bottom: 1rem; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 3.64rem; }

h2, .h2 {
  font-size: 3.01rem; }

h3, .h3 {
  font-size: 2.38rem; }

h4, .h4 {
  font-size: 1.75rem; }

h5, .h5 {
  font-size: 1.4rem; }

h6, .h6 {
  font-size: 1.19rem; }
